<div class="control-panel">
	<span class="cp-title">control panel</span>
	<div class="cp-wrap">
		<div class="cp-items">
			<span class="cp-c-title">new item</span>
			<div class="cp-i-add-remove">
				<a class="cp-i-add" (click)="addItem()"><i class="fa fa-plus"></i></a>
				<a class="cp-i-remove" (click)="removeLastItem()"><i class="fa fa-minus"></i></a>
			</div>
			<div class="cp-i-settings">
				<div class="cp-i-s-width">
					<label for="fixed">fixed<input (checked)="flexType" type="radio" [name]="flexType" [value]="fixed" checked/></label>
					<label for="flexy">flexible<input (checked)="flexType" type="radio" [name]="flexType" [value]="flexy"/></label>
				</div>
				<label for="">lorem? <input [value]="loremCount" type="text"/></label>
			</div>
			<div class="cp-actions">
				<a href="#" (click)="destroyAll">delete all</a>
				<a href="#" (click)="tourResize">resize box</a>
			</div>
		</div>
		<div class="cp-container">
			<span class="cp-c-title">container properties</span>
			<label>flex-direction:
				<select>
					<option *ngFor="#opt of options.flexDirection" (click)="setContainerStyle('flexDirection', opt)">{{opt}}</option>
				</select>
			</label>
			<label>flex-wrap:
				<select [(ngModel)]="options.flexWrap">
					<option *ngFor="#opt of options.flexWrap" (click)="setContainerStyle('flexWrap', opt)">{{opt}}</option>
				</select>
			</label>
			<label>justify-content:
				<select [(ngModel)]="options.justifyContent">
					<option *ngFor="#opt of options.justifyContent" (click)="setContainerStyle('justifyContent', opt)">{{opt}}</option>
				</select>			</label>
			<label>align-items:
				<select [(ngModel)]="options.alignItems">
					<option *ngFor="#opt of options.alignItems" (click)="setContainerStyle('alignItems', opt)">{{opt}}</option>
				</select>
			</label>
			<label>align-content:
				<select [(ngModel)]="options.alignContent">
					<option *ngFor="#opt of options.alignContent" (click)="setContainerStyle('alignContent', opt)">{{opt}}</option>
				</select>
			</label>
		</div>
	</div>
</div>

<!--<label>justify-content:-->
	<!--<select select="justifyContentOptions" [value]="cPropsCurrent.justifyContent"></select>-->
<!--</label>-->
<!--<label>align-items:-->
	<!--<select select="alignItemsOptions" [value]="cPropsCurrent.alignItems"></select>-->
<!--</label>-->
<!--<label>align-content:-->
	<!--<select select="alignContentOptions" [value]="cPropsCurrent.alignContent"></select>-->
<!--</label>-->